/web/bundles/
/web/index.php
/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/vendor/
/bin/
/web/coverage/*
!web/coverage/.gitkeep